body {
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 300px;
}

button[type="submit"],
button.refresh-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button[type="submit"]:hover,
button.refresh-button:hover {
  background-color: #3e8e41;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
